/* Responsive section */

@media screen and ( max-width:760px ) {
    
    header {
        width: 100% ;
        height: 260px ;
        margin-bottom: 0px ;
        padding-bottom: 0px ;  
    }

    header img#banner-lg {
        display: none ;
    }

    header img#banner-sm {
        padding-top: 50px ; 
        display: initial ;
        width: 100% ;
        height: 260px ;
    }

    header .title {
        font-size: 60px ;   
    }

    header .subtitle {
        font-size: 40px ;
    }

    .about-us {
        font-size: 35px ;
    }

    .slogan {
        border: 2px solid #000000 ;
        padding: 20px 10px ;
        font-size: 20px ;
        color: #000000 ;
    }

    .paragraph {
        margin-bottom: 10px ;
        font-weight: 200 ;
        line-height: 20px ;
        text-align: center ;
        color: #1b1b1b
    }

    .over h2 {
        position: relative ;
        top: 45% ;
        font-size: 25px ;
        text-align: center ;
        color: #ffffff ;
    }

    .icon-wrap {
        width: 100px ;
        height: 100px ;
        object-fit: cover ;
        border-radius: 100% ; 
    }
    
    .cards {
        width: 100% ;
        margin: auto ;
        display: flex ;
        flex-wrap: wrap ; /* uno debajo del otro */
        font-family: 'Staatliches', cursive ;
        font-size: 8px ; 
        justify-content: space-around ;
    }

    .card h4 {
        font-size: 12px ;     
    }

    .card p {
        font-size: 16px ;     
    }

    .background {
        padding-top: 100px ;
        padding-bottom: 50px ; 
    }

    .phrase-author {
        font-size: 40px ;
        margin-top: 48px ;
    }
    
    .etc {
        font-size: 24px ;
        font-weight: 300 ;
        margin-bottom: 64px ;
    }
}