nav div .f-link {
    color: #7ECDDF  ;
    font-weight: bold ;
}

nav div .s-link {
    color: #64A3B1 ;
    font-weight: bold ;
}

nav div .t-link {
    color: #4A7983 ;
    font-weight: bold ;
}

nav div .fo-link {
    color: #35575F ;
    font-weight: bold ;
}